#czerwony{
	width: 30px;
	height: 50px;
	background-color: red;
}
#niebieski{
	width: 30px;
	height: 50px;
	background-color: blue;
}
#zielony{
	width: 30px;
	height: 50px;
	background-color: green;
}